.list-swapi {
    h4 {
        color: rgb(124, 124, 124);
    }
    .loading {
        height: 156px;
        background-color: rgba(0, 0, 0, 0.125);
    }
    .select-search {
        min-width: 250px;
        .vs__dropdown-toggle {
            height: 40px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    .info-search {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}